@{
    ViewBag.Title = "Contact";
    ViewBag.Head = "Contact Central City";
}

<section>
    <h3>@ViewBag.Message</h3>

    <address>
        Central City Town Hall<br />
        Central City, MO 52214<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</section>