@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "History Page";
    ViewBag.Head = "Central City History";
}
<section>
    <h1>@ViewBag.Message</h1>
    <p>
        Central City, Missouri, located across the Mississippi River from Keystone City, Kansas, was founded in the
        19th century and became an important stop for cattle drives. It began to see tremendous growth after the
        completion of the Transcontinental Railroad, becoming the first major hubs west of Chicago. A second
        period of growth occurred after World War I, and it has burgeoned to the present day. Central City is
        the home to the Flash
    </p>
</section>