@{
    ViewBag.Title = "Home Page";
    ViewBag.Head = "Central City Home Page";
}

<section>
    <h2>@ViewBag.TodaysDate</h2>

    <a href="/Home/History">History</a>
    <a href="/Home/Contact">Contact</a>
    <a href="/Home/About">About</a><br />
    This is the home page put home page stuff here
</section>