@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Map Page";
    ViewBag.Head = "Central City Map";
}

<section>
    <img src="~/Images/Centralmap.jpg" alt="Central City Map" />
</section>

