@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "News Archive Page";
    ViewBag.Head = "Central City News Archive";
}

<section>
    <h3>@ViewBag.NewsTitle</h3>
    <h4>By: @ViewBag.NewsAuthor</h4>
    <h5>@ViewBag.NewsDate</h5>
    <p>@ViewBag.NewsStory </p>
</section>


