@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "News Page";
    ViewBag.Head = "Central City News";
}

<section>
    <a href="/News/Archive">Archives</a>
    <a href="/News/TodaysNews">Today's News</a>
    <h1>News Reporter of the Month</h1>
    <h2>Iris West-Allen</h2>
    <img src="~/Images/iris.jpg" />
      
</section>
